<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item" [ngClass]="{ disabled: currentPage === 0 }">
      <a class="page-link" (click)="currentPage = currentPage - 1">Prev</a>
    </li>
    <ng-container *ngFor="let image of images; let i = index;">
      <li 
        class="page-item"  
        [ngClass]="{ active: i === currentPage }"
        *ngIf="checkWindowIndex(i)">
        <a class="page-link" (click)="currentPage = i">{{ i + 1 }}</a>
      </li>
    </ng-container>
    <li class="page-item" [ngClass]="{ disabled: currentPage === images.length -1 }">
      <a class="page-link" (click)="currentPage = currentPage + 1">Next</a>
    </li>
  </ul>
</nav>

<!-- <li 
  class="page-item"  
  [ngClass]="getClass()" //can take strings, arrays of strings
  *ngFor="let image of images; let i = index;">
  <a class="page-link" href="#">{{ i + 1 }}</a>
</li> -->

<div>
  <h4>{{ images[currentPage].title }}</h4>
  <img [src]="images[currentPage].url" />
</div>

<div [ngSwitch]="currentPage">
  <div *ngSwitchCase="0">
    This is page 1
  </div>
  <div *ngSwitchCase="1">
    This is page 2
  </div>
  <div *ngSwitchDefault>
    This page does not match the switch statement
  </div>
</div>